PORT=3001

DATABASE_URL="file:./dev.db"


# podemos pasar un arreglo en el caso de que tengamos muchos servidores NATS, usaremos solo el primero epero es para que quede
NATS_SERVERS="nats://localhost:4222,nats://localhost:4223,nats://localhost:4224"